﻿@{
    ViewBag.Title = "Specification Page";
}
@model List<Voonyx.Drone.Web.Models.SpecificationModel>

<div class="">
    <h1>Liste</h1>    

    @foreach (var item in Model)
    {
        @Html.ActionLink(item.FullDescription, "Detail", "Specification", new { Id = item.Id }, null)        
        <br />
    }
    <br />    
</div>