﻿@{
    ViewBag.Title = "Specification Page";
}
@model Voonyx.Drone.Web.Models.SpecificationModel

<div class="">
    <h1 class="lead">@Model.FullDescription</h1>

    <p>Marque : @Model.Make </p>
    <p>Modèle : @Model.Model </p>
    <p>Poids : @Model.Weight </p>
    <p>Prix : @Model.CustomerPrice </p>
    <p>Date : @Model.PublishedDate </p>
    <p>Nombre jours : <votre méthode d'extension> </p>
    <br />
    <p>@Html.ActionLink("Retour", "All", "Specification")</p>
</div>