﻿@{
    ViewBag.Title = "Accueil";
}

<div class="">
    <h1>Laboratoire Drone</h1>
    <p class="lead">Prototype pour contrôler les drônes</p>
    <br />
    <p>Ce petit défi technique est assez simple, mais permet de valider les connaissances et la compréhension générale d'un projet. Le projet est fonctionnel à la base, mais pourrait bénéficier d'améliorations.</p>

    <p>Le projet est de type web, et permet d'afficher les différents drones du laboratoire ainsi que ses spécifications.</p>
    <p>Vous pouvez ajouter des packages pour compléter les points</p>

    <p>Pour ce projet, nous vous demandons les choses suivantes:</p>

    <p>- Extraire _baseUrl du controlleur Specification et ajouter dans le web.config, puis le lire</p>
    <p>- Créer un fichier web.config pour la production avec le transform http://app.voonyx.ca/api/specifications</p>
    <p>- Créer une méthode d'extension au modèle SpecificationModel, qui retourne le nombre de jour entre la date d'aujourd'hui et la date publié du modèle «PublishedDate»  </p>
    <p>- Utiliser votre méthode d'extension dans la view Detail.cshtml</p>
    <p>- Intégrer l'injection de dépendance</p>
    <p>- Documenter le service web pour nos fournisseurs externes</p>
    <p>- Remplacer les assignations de propriétés répétitives entre les différents entités ( modèle )</p>
    <p>- Compléter les tests du service web ( utiliser framework ou package voulu )</p>
    <p>- Intégrer EF dans la couche d'accès données pour récupérer les données de la bd (Voonyx.Drone.Data.Db) </p>

    <p>Une fois le défi complété, vous pouvez soumettre votre projet en fichier .zip à l'adresse: http://voonyx.ca/fr/defi</p>
</div>